* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.head-flex-container {
  background-color: #f4f5f7;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}

.social-ico img {
  width: 27px;
  height: 26px;
  opacity: .5;
  margin-left: 20px;
}

.product-description {
  margin-top: 150px;
}

.desc-text {
  font-family: sans-serif;
  color: #32325f;
}

.pre-sale {
  font-size: 20px;
  font-weight: 400;
}

.product-name, .price-sum {
  width: 100%;
  font-size: 48px;
  font-weight: 700;

}

.product-name {
  margin-top: 14px;
}

.price-sum {
  margin-top: 20px;
}

.short-desc, .price {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
}

.short-desc {
  margin-top: 25px;
}

.price {
  margin-top: 20px;
}

.buttons {
  margin-top: 50px;
  margin-bottom: 210px;
}

.to-order {
  font-size: 20px;
  font-weight: 700;
  margin-right: 30px;
  padding: 20px 30px;
  background-color: #2dce89;
}

.to-listen {
  font-size: 20px;
  font-weight: 700;
  padding: 20px 30px;
  background-color: #5e72e4;
}

.product-img {
  width: 100%;
  height: 364px;
}

.about-flex-container {
  background-color: #fff;
  padding: 90px 0 0 0;
}

.about-block {
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 130px;
}

.header-about {
  width: 100%;
}

.about {
  font-size: 20px;
  font-weight: 400;
}

.about-name {
  font-size: 48px;
  font-weight: 700;
  margin-top: 13px;
}

.about-container {
  margin-top: 100px;
  margin-bottom: 130px;

}

.about-ico {
  width: 86px;
  height: 85px;
  margin-bottom: 40px;
}

.about-desc {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #525f7f;
}


.buyers-flex-container {
  background-color: #f4f5f7;
  padding: 90px 0 0 0;
}

.buyers-block {
  margin: 0 auto;
  padding: 0 0 110px 0;
}

.buyers-header {
  width: 100%;
}

.peoples {
  font-size: 20px;
  font-weight: 400;
}

.buy-book {
  font-size: 48px;
  font-weight: 700;
  margin-top: 13px;
}

.buyers-img-container {
  /* width: 100%; */
  margin-top: 63px;
}

.buyer-img {
  width: 362px;
  height: 254px;
  margin-bottom: 28px;
}

.buyer-img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}


.foot-flex-container {
  background-color: #32325f;
  padding-top: 80px;
  padding-bottom: 100px;
}

.footer span {
  display: block;
  font-family: sans-serif;
  color: #fff;
}

.details-header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 34px;
}

.info {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}
















